*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fffdf9;
}

body {
  background-color: #13223a;
  color: #fffdf9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page-link {
  padding: .5rem;
  background-color: #82abfc;
  color: #13223a;
  display: inline-block;
  border-radius: .3rem;
  text-decoration: underline;
  cursor: pointer;
}

button {
  width: max-content;
  padding: .8rem .5rem;
  font-weight: bold;
  color: #fffdf9;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
}

button:disabled:not(.delete) {
  background-color: #999;
  color: #111;
  cursor: not-allowed;
}

button.delete {
  border: 2px solid #fffdf9;
  background-color: transparent;
}

button.cancel {
  background-color: transparent;
  border: 2px solid #fffdf9;
}

button {
  background-color: #084af4;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.post {
  padding: 1rem;
  background-color: #0e192b;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.no-posts {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  background-color: #0e192b;
  border-radius: .5rem;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  inset: 0px;
  background-color: #ffffff20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  min-width: 50%;
  background-color: #13223a;
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.h2 {
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

label {
  font-weight: bold;
}

input,
textarea {
  padding: .5rem;
  border-radius: .5rem;
  border: 3px solid transparent;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: #0e192b;
  color: #fffdf9;
}


input:focus-visible,
textarea:focus-visible {
  border: 3px solid #82abfc;
}